.header{
    height: calc(100vh - 5rem);
    position: relative;
    top: 5rem;
    display: grid;
    place-items: center;
    overflow: hidden;
    background: var(--color-bg1);
    margin-bottom: 6rem;
      
  }
  
  .description-header-container{
    display: grid;
    grid-template-columns: 55% 45%;
    height: 100%;
  }
  
  .description-header-left {
    display: flex;
    align-items: center;
    height: 100%;
  }
  
  .description-header-left h3{
    font-size: 50px;
  }
  .description-header-left h4 {
    margin-bottom: 0.6rem ;
  }
  
  .description-header-left p {
    margin: 1.2rem 0 2rem;
    
  }
  
  .description-header-right {
    position: relative;
    height: 100%;
  }
  
  
  .header-right-bg {
    width: 50rem;
    height: 50rem;
    border-radius: 50%;
    background: var(--color-warning);
    position: absolute;
    right: -20rem;
    bottom: -22rem;
  }
  
  
  .header-image {
    width: 220%;
    position: absolute;
    bottom: -10rem;
    right: -20rem;
    z-index: 1;
  }
  

/*GRADE DE CONTEUDO*/
.revs {
    background-color: #ffffff;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
    border-radius: 2rem;
    padding: 5rem;
    margin: 2 auto;
}

.revs h2 {
    margin-top: 4rem;
    text-align: center;
    color: #000;
}

.revs-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 500px));
    gap: 1rem;
    justify-content: center;
}

.rev {
    padding: 2rem;
    min-height: 100px;
    background-color: #ff208a;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    transition: background-color 0.3s ease;
    border-radius: 1rem;
}

.rev:hover {
    background-color: #a733a0;;
}

.rev-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
}

.rev-header:hover .rev-icon,
.rev.open .rev-icon {
    transform: rotate(90deg);
    transition: transform 0.3s ease;
}

.rev-icon {
    font-size: 1.2rem;
    margin-right: 1rem;
}

.rev h4 {
    font-size: 1rem;
    line-height: 2.2;
    margin: 0;
    text-align: center;
    word-break: break-word;
}

.rev-answer {
    margin-top: 0.8rem;
    display: none;
    transition: display 0.3s ease;
    text-align: left;
}

.rev.open .rev-answer {
    display: block;
}

@media (max-width: 768px) {
    .revs-container {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

  
  
  
  /* Estilos responsivos */
  @media screen and (max-width: 767px) {
  .form-group {
  width: 100%;
  }
  
  button[type="submit"] {
  width: 100%;
  }
  
  label {
  font-size: 16px; /* Tamanho do texto */
  }
  
  input,
  textarea {
  font-size: 16px; /* Tamanho do texto */
  }
  
  button[type="submit"] {
  font-size: 16px; /* Tamanho do texto */
  }
  }