.header{
  position: relative;
  top: 3rem;
  display: grid;
  place-items: center;
  overflow: hidden;
  background: #fff;
  margin-bottom: 6rem;

}

.descricao-sobre {
  display: flex;
  align-items: center;
  height: 100%;
}

.descricao-sobre h2{
  font-size: 30px;
  color: #000;
}

.descricao-sobre p {
  margin: 1.2rem 0 2rem;
  color: #000;

}

.description-header-right {
  position: relative;
  height: 100%;
}

.header-image {
  display: flex;
  justify-content: center;
}

.header-image img {
  width: 50%;

}



