@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/******************** ESTILO DO CABEÇALHO ********************/
.header {
  position: relative;
  top: 3rem;
  margin-bottom: -8rem;
  display: grid;
  place-items: center;
  overflow: hidden;
  background: #fff;
}




/******************** ESTILO DE DESCRIÇÃO ********************/
.descricao-sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.descricao-sobre h2 {
  font-size: 40px;
  color: #170d4b;
  margin: -10px;
  padding: 0px;
  text-align: center;
}

.descricao-sobre p {
  margin: 1.2rem 0 2rem;
  font-size: 19px;
  font-family: 'Roboto', sans-serif;
  color: #000000;
  text-align: justify;
}




/******************** MOBILE ********************/
@media only screen and (max-width: 600px) {

  .descricao-sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .descricao-sobre h2 {
    font-size: 35px;
    color: #170d4b;
    margin: 20px;
    padding: 10px;
    text-align: center;
  }

  .descricao-sobre p {
    margin: 1.2rem 0 2rem;
    font-size: 19px;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    text-align: justify;
  }
}