/* Estilos do cabeçalho */
.header {
  position: relative;
  top: 3rem;
  margin-bottom: -7rem;
  display: grid;
  place-items: center;
  overflow: hidden;
  background: #fff;
}

/* Estilo da seção de descrição */
.descricao-sobre {
  display: flex;
  align-items: center;
  height: 100%;
}

.descricao-sobre h2 {
  font-size: 30px;
  color: #000;
}

.descricao-sobre p {
  margin: 1.2rem 0 2rem;
  color: #000;
  text-align: justify;
}

/* Estilo da imagem no cabeçalho */
.header-image {
  display: flex;
  justify-content: center;
}

.header-image img {
  width: 50%;
}

/* Estilos da seção de descrição no lado direito do cabeçalho */
.description-header-right {
  position: relative;
  height: 100%;
}
