* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

  /************************ Defina a cor de fundo padrão da seleção */
   ::selection {
    background-color: #ff00f294;
    color: #fff;
  }
  
  /************************ Defina a cor de fundo da seleção quando um elemento está ativo */
  ::selection:active {
    background-color: #ff00f294;
  }
  

:root {
    --color-primary: #6c63ff;
    --color-sucess: #00bf8e;
    --color-warning: #f7c94b;
    --color-danger: #e7015e;
    --color-danger-variant: rgb(247, 87, 66);
    --color-white: #fff;
    --color-light: rgba(82, 82, 82, 0.541);
    --color-black: #000;
    --color-bg: #fff;
    --color-bg1: #e7015e;
    --color-bg2: #8a0439;

    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all 400ms ease;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7;
    color: #ffffff;
    background: var(--color-bg);
}

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

section {
    padding: 6rem 0;
}

section h2 {
    text-align: center;
    margin-bottom: 4rem;
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.2;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.3rem;
}

h5 {
    font-size: 1rem;
}

a {
    color: #fff;
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.btn {
  display: inline-block;
  background: var(--color-white);
  color: var(--color-black);
  padding: 1rem 2rem;
  border: 1px solid transparent;
  border-radius: 5px;
  font-weight: 500;
}

.btn-primary {
  background: #ff208a;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  border-radius: 50px;
  padding: 0.8rem 2.5rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.btn-primary:hover {
  background: #a733a0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}


/************************ NAVBAR*/
nav {
  background-color: #a733a0;
  width: 100vw;
  height: 5rem;
  position: fixed;
  top: 0;
  z-index: 11;
}

nav::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #a733a0;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

nav.active::before {
  transform: scaleX(1);
}

/************************ NAVBAR DESLIZE*/
.window-scroll {
  background-color: #a733a0;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.nav-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav button {
  display: none;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 3.5rem;
}

.nav-menu a {
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: white;
  transition: var(--transition);
  position: relative;
  padding: 0.5rem 0;
}

.nav-menu a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.1rem;
  width: 100%;
  height: 0.2rem;
  background-color: rgb(255, 251, 0);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease-in-out;
}

.nav-menu a:hover::after {
  transform: scaleX(1);
}

.nav-menu a.active::after {
  transform: scaleX(1);
}

.nav-menu a:hover {
  color: #f8f8f8;
}

/************************ LOGO DENTRO DO MENU */

.login__header img {
  width: 120px;
  margin: 0 10px;
}

/************************ HEADER */
header {
    position: relative;
    top: 5rem;
    overflow: hidden;
    height: 70vh;
    margin-bottom: 5rem;
    top: 5rem;
    width:100%;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    background-image: url('../images/fundo.png');
}

.header-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 3rem;
    height: 100%;
}

.header-left p {
    margin: 1rem 0 2.4rem;
}

/************************ IMAGEM FLUTUANTE *
.header-right-image img {
  position: relative;
  animation-name: float;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  }
  
  @keyframes float {
  0% {
  transform: translatey(0px);
  }
  50% {
  transform: translatey(-10px);
  }
  100% {
  transform: translatey(0px);
  }
  }


/************************ IMAGEM BARRA MENU */
.login__header img {
  width: 120px;
  margin: 0 10px;
}



/************************ EQUIPE */
.teamimg {
  width: 200px;
}

.team {
  background: #fff;
  border-radius: 5px;
  max-width: 1200px;
  margin:  auto;
  display: flex; /* exibe os elementos como uma fila */
  flex-wrap: wrap; /* permite que os elementos sejam divididos em várias linhas */
  justify-content: center; /* centraliza a fila horizontalmente */
  align-items: center; /* centraliza a fila verticalmente */
  color: #000;
}

.team h2 {
  margin-top: 0rem;
  text-align: center;
}

.team-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  justify-content: center;
}

.teamm {
  padding: 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.4rem;
  background: #fff;
  cursor: pointer;
  text-align: center;
  max-width: 300px; /* nova largura máxima dos elementos */
  height: fit-content;
  margin: 0 0px; /* adiciona margem horizontal para separar cada teamm na linha */
}

.teamm-small {
  max-width: none;
}

.teamm h4 {
  font-size: 1rem;
  line-height: 2.2;
}

.teamm-icon {
  align-self: flex-start;
  font-size: 30px;
}

.teamm p {
  margin-top: 0.8rem;
  display: none;
  text-align: center;
}

.equipeimg {
  border-radius: 100%;
  filter: grayscale(100%); /* filtro de escala de cinza /
  transition: filter 0.5s; / transição suave */
  }
  
  .equipeimg:hover {
  filter: grayscale(0%); /* remove o filtro de escala de cinza quando o mouse estiver sobre a imagem */
  }


.nome {
  font-size: 20px;
  color: #000000;
}

.descrição {
  font-size: 12px;
  color: #7a7a7a;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.social-links img {
  width: 25px;
  height: 25px;
  margin: 10px;
}

.social-linksmenu img {
  width: 20px;
  height: 20px;
}

.social-links img:hover {
  animation: swing 0.3s ease-in-out alternate;
}


@keyframes swing {
  from {
    transform: rotate(10deg);
  }
  to {
    transform: rotate(-10deg);
  }
}

.social-linksmenu img {
  width: 20px;
  height: 20px;
}

@media (max-width: 767px) {
  /* estilos para dispositivos móveis */
  .team-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nome {
      font-size: 20px;
    }

  .descrição {
      font-size: 15px;
      color: rgb(105, 105, 105)646;
    }

  .teamm {
    width: 100%;
    margin: 0 0 40px 0; /* adiciona margem inferior para separar cada teamm na coluna */
  }
}
  
/************************ FOOTER */

.footer-copyright {
    background: #a733a0;
    font-size: 12px;
    text-align: center;
    margin-top: 0rem;
    padding: 1.2rem 0;
    color: #fff;
}

.popup .overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.popup .content-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: red;
    width: 900px;
    height: 600px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

/************************ LINK DO FOOTER */
.footer-copyright a {
  color: #ffffff;
  transition: color 0.3s ease-in-out;
}

.footer-copyright a:hover {
  color: #ff69b4;
}


  /************************ MEDIA QUERIES */


@media screen and (max-width: 1024px) {

    .container {
        width: var(--container-width-md);
    }

    h1 {
        font-size: 2.2rem;
    }

    h2{
        font-size: 1.7rem;
    }

    h3 {
        font-size: 1.4rem;
    }

    h4{
        font-size: 1.2rem;
    }


  /************************ NAVBAR */

  nav button {
    display: inline-block;
    background: transparent;
    font-size: 1.8rem;
    color: #fff;
    cursor: pointer;
}

nav button.close-menu-btn {
    display: none;
}

.nav-menu{
    position: fixed;
    top: 5rem;
    right: 5%;
    height: fit-content;
    width: 18rem;
    flex-direction: column;
    gap: 0;
    display: none;
}

.nav-menu li {
    width: 100%;
    height: 5.8rem;
    animation: animateNavItens 800ms ease-out forwards;
    transform-origin: top right;
    }



.nav-menu li a {
  background-color: #85297e;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.nav-menu li a:hover {
    background: var(--color-bg2);
    color: var(--color-white);
}
      

    /*HEADER*/

    header {
        height: 52vh;
        margin-bottom: 4rem;
    }

    .header-container {
        gap: 0;
        padding-bottom: 0rem;
    }


    /*EQUIPE*/

    .faqs-container{
        grid-template-columns: 1fr;
    }

    .faq {
        padding: 1.4rem;
    }

    /*FOOTER*/

    .footer-container{
        grid-template-columns: 1fr 1fr;
    }
}

/*CELULAR*/

@media screen and (max-width: 600px) {

    .container {
        width: var(--container-width-sm);
    }

    /*NAVBAR*/
    .nav-menu {
        right: 3%;
    }

    /*HEADER*/
    header {
        height: 100vh;
    }

    .header-container {
        grid-template-columns: 1fr;
        text-align: center;
        margin-top: 0;
    }

    .header-left p {
        margin-bottom: 1.3rem;
    }

    .btn-primary{
        margin-top: 10px;
    }
    

    
   /* Defina a cor de fundo padrão da seleção */
::selection {
    background-color: #ff00f294;
    color: #fff;
  }
  
  /* Defina a cor de fundo da seleção quando um elemento está ativo */
  ::selection:active {
    background-color: #ff00f294;
  }
  

    /*FOOTER*/

    .footer-container {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 2rem;
    }

    .footer-1 p {
        margin: 1rem auto;
    }

    .footer-socials {
        justify-content: center;
    }
}

